<div class="login-page">

    <div class="login-card">

        <div class="text-center mb-4">

            <h1>DEUTSCH-ASSESS</h1>

            <p>
                AI-Based German Assessment Platform
            </p>

        </div>

        <form>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>Web App ID</mat-label>

                <input
                    matInput
                    placeholder="Enter your Web App ID">

                <mat-icon matSuffix>badge</mat-icon>

            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>Password</mat-label>

                <input
                    matInput
                    type="password"
                    placeholder="Enter your password">

                <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>

            <button
                mat-raised-button
                color="primary"
                class="login-btn">

                <mat-icon>login</mat-icon>

                Login

            </button>

        </form>

    </div>

</div>