<div class="sidebar">

    <!-- Logo -->
    <div class="logo">

        <h2>DEUTSCH</h2>

        <span>ASSESS</span>

    </div>

    <!-- Navigation -->
    <ul class="nav-links">

        <li routerLink="/student-list" routerLinkActive="active">
            <mat-icon>groups</mat-icon>
            <span>Students</span>
        </li>

        <li routerLink="/tutor-list" routerLinkActive="active">
            <mat-icon>school</mat-icon>
            <span>Tutors</span>
        </li>

        <li routerLink="/admin/courses" routerLinkActive="active">
            <mat-icon>menu_book</mat-icon>
            <span>Courses</span>
        </li>

        <li routerLink="/classes" routerLinkActive="active">
            <mat-icon>calendar_month</mat-icon>
            <span>Classes</span>
        </li>

        <li routerLink="/assessments" routerLinkActive="active">
            <mat-icon>quiz</mat-icon>
            <span>Assessments</span>
        </li>

        <li routerLink="/admin-results" routerLinkActive="active">
            <mat-icon>bar_chart</mat-icon>
            <span>Results</span>
        </li>
        

        <li routerLink="/admin/profile" routerLinkActive="active">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </li>

    </ul>

    <!-- Logout -->
    <div class="logout-section">

        <li class="logout" (click)="logout()">

            <mat-icon>logout</mat-icon>

            <span>Logout</span>

        </li>

    </div>

</div>