<!-- Admin nav bar -->

<div class="sidebar">

    <div class="logo">

        <h2>DEUTSCH</h2>

        <span>ASSESS</span>

    </div>

    <ul class="nav-links">

        <li routerLink="/admin/students" routerLinkActive="active">
            <mat-icon>groups</mat-icon>
            <span>Students</span>
        </li>

        <li routerLink="/admin/tutors" routerLinkActive="active">
            <mat-icon>school</mat-icon>
            <span>Tutors</span>
        </li>

        <li routerLink="/admin/courses" routerLinkActive="active">
            <mat-icon>menu_book</mat-icon>
            <span>Courses</span>
        </li>

        <li routerLink="/admin/classes" routerLinkActive="active">
            <mat-icon>calendar_month</mat-icon>
            <span>Classes</span>
        </li>

        <li routerLink="/admin/assessments" routerLinkActive="active">
            <mat-icon>quiz</mat-icon>
            <span>Assessments</span>
        </li>

        <li routerLink="/admin/profile" routerLinkActive="active">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </li>

    </ul>

</div>